<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VNGod.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net configSource="log4net.config"/>
  <userSettings>
    <VNGod.Properties.Settings>
      <setting name="BgmToken" serializeAs="String">
        <value />
      </setting>
      <setting name="Repo" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WebDAVUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="WebDAVUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="WebDAVPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="VNDBToken" serializeAs="String">
        <value />
      </setting>
    </VNGod.Properties.Settings>
  </userSettings>
</configuration>